@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;  
}

html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    background-color: $beige;
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline-color: transparent;
    cursor: pointer;
}


