//fonts
@font-face {
    font-family: 'proximaNova-regular';
    src: url('../../assets/fonts/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNova-Thin';
    src: url('../../assets/fonts/ProximaNova-Thin.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNova-bold';
    src: url('../../assets/fonts/ProximaNova-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNova-extrabold';
    src: url('../../assets/fonts/ProximaNova-Extrabold.otf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNova-black';
    src: url('../../assets/fonts/ProximaNova-Black.otf');
    font-weight: bolder;
    font-style: normal;
}