//colors
$ksa: #327052;
$beige: #F4E6D9;
$silver: #F3F3F2;
$white: #FFFEFD;
$black: #040F0F;
$dark-ksa: #112C2C;
$gray: #575757;
$dark-gray: #404040;
$light-gray: #C5C5C545;
$transparent: transparent;

//screens
$small-screen: 425px;
$medium-screen: 768px;
$large-screen: 1024px;

//fonts
$lobster: 'Lobster', cursive;

//local fonts in fonts folder
$main-font: 'proxima-nova', sans-serif;
