//colors
$ksa: #327052;
$beige: #F4E6D9;
$silver: #F3F3F2;
$white: #FFFEFD;
$black: #040F0F;
$dark-ksa: #112C2C;
$gray: #575757;
$dark-gray: #404040;
$light-gray: #C5C5C545;

//screens
$small-screen: 425px;
$medium-screen: 768px;
$large-screen: 1024px;

//fonts
$lobster: 'Lobster', cursive;

//local fonts in fonts folder
$proximaNova: 'proximaNova', sans-serif;
$proximaNova-semibold: 'proximaNova-Semibold', sans-serif;
$proximaNova-bold: 'proximaNova-bold', sans-serif;
$proximaNova-extrabold: 'proximaNova-extrabold', sans-serif;
$proximaNova-light: 'proximaNova-light', sans-serif;
$proximaNova-regular: 'proximaNova-regular', sans-serif;
$proximaNova-black: 'proximaNova-black', sans-serif;
$proximaNova-thin: 'proximaNova-thin', sans-serif;

