.profile{
    &-page{
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4rem;
    }
    width: 100%;
    max-width: 60rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    background-color: $silver;
    
    &__header{
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        .alert{
            align-self: center; 
        }
        h2{
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.6rem;
        }
        &__details{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            &__item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.4rem;
                color: #858585;
                p{
                    color: #343434;
                }
                img{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: $ksa;
                }

                input{
                    border: none;
                    background-color: transparent;
                    padding: 0.5rem 0;
                    font-size: 1.4rem;
                    color: $ksa;
                    outline-color: transparent;
                    border-bottom: 1px solid $ksa;
                    width: 100%;
                    max-width: 20rem;
                }

                &.submit{
                    align-self: flex-end;
                }
            }
            &.actions{
                gap: 0.5rem;
                margin-top: 2rem;
                border-top: 1px solid #ccc;
                padding-top: 2rem;

                a{
                    color: #FF0000;
                    font-size: 1.4rem;
                }
            }
        }

    }

    @media screen and (min-width: $large-screen){
        &__header{
            padding: 3rem 5rem;

            &__details{
                &__item{
                    font-size: 1.6rem;
                }
            }
        }
    }
}