.profile{
    &-page{
        margin-top: 15rem;
    }
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: $silver;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
    &__header{
        &__details{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &__item{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}