.shopping-list,
.pantry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16rem 2rem;
}

.list {
    background-color: #EDE9E5;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 90rem;

    h1 {
        font-size: 2.4rem;
        color: $ksa;
        font-weight: 800;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2rem;

    }

    &__filter {
        background-color: $silver;
        border-radius: 1rem;
        padding: 0.75rem;
        display: grid;
        //scroll x axis
        overflow-x: scroll;
        grid-auto-flow: column;
        grid-gap: 1rem;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: $silver;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $ksa;
        }

        &--btn {
            background-color: rgba(70, 70, 70, 0.2);
            border: none;
            color: $gray;
            font-size: 1.4rem;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            transition: all 0.3s ease-in-out;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
        gap: 1rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        gap: 1rem;

        &--details {
            border-radius: 1rem;
            color: $gray;
            background-color: $white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 1rem;
            gap: 0.5rem;
            width: 100%;

            &--title {
                font-size: 1.4rem;
                font-weight: 800;
                color: $ksa;
            }

            &--body {
                font-size: 1.2rem;
                font-weight: 600;
                color: $gray;
            }

            &:hover {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            }
        }

        &--options {
            display: flex;
            height: 100%;
            width: 50%;
            max-width: 10rem;
            gap: 1rem;

            button {
                padding: 0.25rem 0.75rem;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                }
            }

            img {
                width: 100%;
            }
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        height: 50vh;

        &--message {
            text-align: center;

            h2 {
                font-size: 2rem;
                color: #1A5338;
                font-weight: 800;
            }

            p {
                font-size: 1.6rem;
                color: #86AE9B;
                font-weight: 600;
                margin-top: 1rem;
            }
        }
    }

    @media only screen and (min-width: $medium-screen) {
        padding: 5rem;

        h1 {
            font-size: 3.2rem;
        }

        &__item {
            &--details {
                padding: 1.5rem;

                &--title {
                    font-size: 2rem;
                }

                &--body {
                    font-size: 1.6rem;
                }
            }

            &--options {
                width: auto;
            }
        }

        &__empty {
            &--message {
                h2 {
                    font-size: 3.2rem;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }
}

.list__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

    h2 {
        text-align: left;
    }

    &--body {
        padding: 2rem 0;
    }

    &--form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        &--group {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            label {
                font-size: 1.4rem;
                font-weight: 600;
                color: $gray;
                flex: 1;
            }

            input {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                font-size: 1.4rem;
                font-weight: 600;
                color: $gray;
                width: 100%;
                border-color: transparent;
               
                outline-color: transparent;
                &:active, &:focus {
                    box-shadow: 0 0 10px 0 rgba($ksa, 0.3);
                }


                //placeholder
                &::placeholder {
                    color: #667085;
                    font-weight: 400;
                }

                //date input
                &[type="date"] {
                    content: attr(placeholder) !important;
                    
                    &:focus:before, &:valid:before {
                        content: "Expiry Date: ";
                        margin-right: 0.5rem;
                        font-weight: 400;    
                    }
                }
            }

            select {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                border: 1px solid $ksa;
                font-size: 1.4rem;
                font-weight: 400;
                color: #667085;
                width: 100%;
                border-color: transparent;
                outline-color: transparent;
            }

            option.placeholder {
              color: #999999;
            }
        }
    }

    &--footer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .add{
            background-color: $silver;
            color: $ksa;
            font-size: 1.4rem;
            font-weight: 600;
            border: none;
            padding: 1rem 2rem;
            border-radius: 1rem;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
            &:active {
                transform: scale(0.9);
            }
        }
    }
}