.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 60rem;
    margin: 5rem auto;

    h2 {
        &::after {
            height: 0.7rem;
        }
    }

    @media screen and (min-width: $medium-screen) {
        padding: 2rem;
    }
}

.search-box {
    background-color: $silver;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 3rem;
    position: relative;

    input {
        background-color: transparent;
        border: none;
        outline-color: transparent;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: $main-font;
        color: $black;
        width: 100%;
        padding: 1rem 2rem;

        &:focus {
            outline-width: 0;
        }
    }

    @media screen and (min-width: $medium-screen) {
        &:after {
            content: '';
            position: absolute;
            width: 8rem;
            height: 8rem;
            // background-image: url('../../assets/images/tryit.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            right: -7rem;
            top: -7rem;
        }
    }
}

.btn-search {
    border-radius: 1.5rem;
    width: 4.6rem;
    height: 4rem;
    background-color: transparent;
    background-image: url('../../assets/images/Search\ icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.suggestions {
    background-color: $white;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 1.2rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    gap: 1rem;
    transition: all .3s ease-in-out;
    animation: smooth-bounce .5s ease-in-out;
    position: relative;

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
        gap: 1rem;

        &--input {
            width: 100%;
            border: none;
            border-bottom: 1px solid $ksa;
            outline-color: transparent;
            font-size: 1.6rem;
            margin-left: 1rem;
        }

        &--btn {
            border-radius: 1rem;
            background-color: $ksa;
            color: $white;
            padding: .5rem 1.5rem;
            font-size: 1.6rem;
            text-transform: capitalize;
        }


    }

    &__tabs {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        //scroll x
        overflow-x: scroll;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        button {
            border-radius: 1rem;
            padding: .5rem 1.5rem;
            font-size: 1.6rem;
            text-transform: capitalize;
            white-space: nowrap;

            &.active {
                background-color: $ksa;
                color: $white;
            }
        }
    }

    @media screen and (min-width: $medium-screen) {
        &:after {
            //spark at bottom left
            content: '';
            // background-image: url('../../assets/images/spark.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            left: -3rem;
            bottom: -3rem;
            width: 5rem;
            height: 5rem;

        }
    }
}

.selected-ingredients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .selected-ingredient {
        box-shadow: 0 0 3px 1px $ksa, 0 0 0 3px $silver;
    }
}

.search__options {
    height: 40vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    &--buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;

        flex-wrap: wrap;
        // justify-content: space-around;

        button {
            border-radius: 1rem;
            padding: 1.5rem;
            font-size: 1.6rem;
            text-transform: capitalize;
            white-space: nowrap;
            text-align: left;
            
            &.active {
                border: 1px solid $ksa;
            }
        }

        &.search-filter{
            margin: 1rem 0;
            button{
                padding: 1rem;
                font-size: 1.4rem;
                background-color: rgba($ksa, .2);
            }
        }
    }
}


@keyframes smooth-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce-enter {
    transform: translateY(1rem);
    opacity: 0;
}

.bounce-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all .3s ease-in-out;
}

.bounce-exit {
    transform: translateY(0);
    opacity: 1;
}

.bounce-exit-active {
    transform: translateY(1rem);
    opacity: 0;
    transition: all .3s ease-in-out;
}

// Path: src\sass\components\_search-results.scss
// Compare this snippet from src\sass\abstracts\_variables.scss: