.desktop-nav .profile-dropdown {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 50%;

        &:hover {
            box-shadow: 0 0.5rem 1rem rgba($color: $gray, $alpha: 0.2);
        }

        &__active {
            box-shadow: 0 0.5rem 1rem rgba($color: $ksa, $alpha: 0.2);
        }

        img {
            background-color: $ksa;
            border-radius: 50%;
        }
    }

    &__list {
        width: 20rem;
        padding: 1.5rem;
        position: absolute;
        top: 8rem;
        right: 0;
        background-color: rgba($color: $silver, $alpha: 0.9);
        border-radius: 2rem;
        overflow: hidden;
        transform: translateY(-2rem);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        &:hover {
            background-color: $silver;
        }

        &__active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;

            li {
                display: none;
            }
        }

        li {
            display: block;

        }
    }
}

.mobile-nav .profile-dropdown {
    width: 100%;
    &__header {
        display: none;
    }

    &__list {
        &:before {
            content: "";
            //divider
            height: 1px;
            width: 85%;
            //center the divider
            margin: 1rem auto;
            background-color: #d7d7d7;
            display: block;
        }
    }
}